.box {
	font-family: Palatino, 'Palatino Linotype', sans-serif;
	text-align: center;
}

body {
	background-color: #ccc;
}

.title {
	width:500px;
	height:300px;
}

#homeLink {
	color: #aaf;
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

#homeLink.hover {
	color:red;
}
